{% set pagetitle = '{core:frontpage:page_title}'|trans %}
{% extends "base.twig" %}

{% block content %}
    {% if isadmin %}
    <p class="right youareadmin">{{ '{core:frontpage:loggedin_as_admin}'|trans }}</p>
    {% else %}
    <p class="right youareadmin">
        <a href="{{ loginurl }}">{{ '{core:frontpage:login_as_admin}'|trans }}</a>
    </p>
    {% endif %}

    <ul>
    {% for key, link in links_auth %}
        <li>
            <a href="{{ link.href }}">{{ link.text|trans|escape('html') }}</a>
            {% if link.deprecated is defined and link.deprecated is not empty %}
            <strong>{{ '{core:frontpage:deprecated}'|trans }}</strong>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
