<h3>{{ 'Suggestions for resolving this problem:'|trans }}</h3>
<ul>
    <li>{{ 'Check that the link you used to access the web site is correct.'|trans }}</li>
    <li>{{ 'Go back to the previous page and try again.'|trans }}</li>
    <li>{{ 'Close the web browser, and try again.'|trans }}</li>
</ul>

<h3>{{ '{core:no_state:causes}'|trans }}</h3>
<ul>
    <li>{{ '{core:no_state:cause_badlink}'|trans }}</li>
    <li>{{ '{core:no_state:cause_backforward}'|trans }}</li>
    <li>{{ '{core:no_state:cause_openbrowser}'|trans }}</li>
    <li>{{ '{core:no_state:cause_nocookie}'|trans }}</li>
</ul>
