        <div id="header">
            <div class="wrap">
                <div class="left">
                    <div class="v-center logo-header">
                        <div id="logo">
                            <span class="simple">Simple</span><span class="saml">SAML</span><span class="simple">php</span>
                            <img class="pure-img hidden" src="" alt="LOGO">
                        </div>
                    </div>
                </div>

                {% if not hideLanguageBar -%}
                    <div id="languagebar" class="hide-for-large">
                        <div id="menu">
                            <div class="pure-menu">
                            {% for key, lang in languageBar -%}
                                {% if key == currentLanguage -%}
                                <a class="pure-menu-heading" href="#">{{ lang.name }}</a>
                                {% else -%}
                                <ul class="pure-menu-list">
                                    {% if lang.url -%}
                                    <li class="pure-menu-item"><a href="{{ lang.url }}{% spaceless %}
                                        {% if queryParams %}&{% endif %}
                                        {% for name, value in queryParams %}
                                            {% if not loop.first %}&{% endif %}
                                            {% if value %}{{ name }}={{ value }}{% else %}{{ name }}{% endif %}
                                        {% endfor %}"{% endspaceless %} class="pure-menu-link">{{ lang.name }}</a></li>
                                    {% endif %}
                                {% endif -%}
                            {% endfor -%}
                                </ul>
                            </div>
                        </div>
                    </div>
                {%- endif %}

                <div class="right show-for-large">
                    <div class="v-center language-bar">
                        <form id="SelectLang" class="pure-form" method="get">
                            {% if not hideLanguageBar -%}
                            <div id="languagebar">
                            {% for name, value in queryParams -%}
                                {% if value -%}
                                <input type="hidden" name="{{ name }}" value="{{ value }}" />
                                {%- else -%}
                                <input type="hidden" name="{{ name }}" />
                                {%- endif -%}
                            {%- endfor %}

                                <select  class="pure-input-1-4 language-menu selectize" name="language" id="language_selector">
                                    {% for key, lang in languageBar -%}
                                    {% if key == currentLanguage -%}
                                    <option value="{{ key }}" selected="selected">&#xf1ab;  {{ lang.name }}</option>
                                    {% else -%}
                                    <option value="{{ key }}">{{ lang.name }}</option>
                                    {% endif -%}
                                {% endfor -%}
                                </select>
                            </div>
                        {% endif -%}
                        </form>
                    </div><!--show-for-large-->


                </div>
            </div> <!-- wrap -->
        </div> <!-- header -->

