<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <script type="text/javascript" src="/{{ baseurlpath }}resources/script.js"></script>
    <title>{{ pagetitle }}</title>
    <link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}resources/default.css">
    <link rel="icon" type="image/icon" href="/{{ baseurlpath }}resources/icons/favicon.ico">
    <link rel="stylesheet" media="screen" type="text/css" href="/{{ baseurlpath }}resources/uitheme1.8/jquery-ui.css">
    {% if isRTL %}<link rel="stylesheet" type="text/css" href="/{{ baseurlpath }}resources/default-rtl.css" />{% endif %}
    <meta name="robots" content="noindex, nofollow">
    {% block preload %}{% endblock %}
</head>
<body>
    <div id="wrap">

        {% block header %}{% include "_header.twig" %}{% endblock %}

        <div id="content">
            {% block content %}{% endblock %}
        </div><!-- #content -->

        <div id="footer">
            {% block footer %}{% include "_footer.twig" %}{% endblock %}
        </div>

    </div><!-- #wrap -->

    {% block postload %}{% endblock %}
</body></html>
