{% set pagetitle = '{authYubiKey:yubikey:header}'|trans %}
{% extends "base.twig" %}

{% block content %}
    {% if errorCode != null %}
    <div style="border-left: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; background: #f5f5f5">
        <img src="{{ baseurlpath }}resources/icons/experience/gtk-dialog-error.48x48.png" class="float-l" style="margin: 15px;" alt="" />
        <h2>{{ '{login:error_header}'|trans }}</h2>
        <p><span style="text-decoration: bold;">{{ errorTitle }}</p>
        <p>{{ errorDesc }}</p>
    </div>
    {% endif %}

    <img style="float: right" src="{{ logoUrl }}" alt="" />
    <img style="clear: right; float: right" src="{{ devicepicUrl }}" alt="YubiKey" />

    <h2>{{ '{authYubiKey:yubikey:header}'|trans }}</h2>
    <form action="?" method="post" name="f">
        <p>{{ '{authYubiKey:yubikey:intro}'|trans }}</p>
        <p><input id="otp" style="border: 1px solid #ccc; background: #eee; padding: .5em; font-size: medium; width: 70%; color: #aaa" type="text" tabindex="2" name="otp" /></p>
    {% for key, value in stateParams %}
        <input type="hidden" name="{{ key|escape('html') }}" value="{{ value|escape('html') }}"/>
    {% endfor %}
    </form>
{% endblock %}
